{% extends 'main.html'%}


{%block title%}
Home
{%endblock%}

{%block body%}

<h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-top: 50px;margin-left: 30px;font-size: 70px;">Welcome to Rabbit & Tortoise</h1> 
<h5 style="margin-left: 160px;font-size: 30px;"> technology solution</h5>

<h3 style="margin-top: 50px;margin-left: 20px;">Click Here to Enter Dashboard..</h3>
<a href="/display/"><button style="height: 50px;width: 200px;margin-left: 100px;">Click</button></a>

{%endblock%}

